/* Coolors Exported Palette - coolors.co/d3d4d9-5299d3-bb0a21-083d77-042a2b */
/* RGB */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap&subset=latin-ext");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  margin: 8px;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
  border-radius: 20px;
}

@media (max-width: 1400px) and (orientation: landscape) {
  .page {
    max-width: 1350px;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .page {
    max-width: 1024px;
    margin-top: 5px;
  }
}

.header {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 80px;
  background-color: #5299d3;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 360px) {
  .header {
    height: 40px;
  }
}

@media (max-width: 860px) and (orientation: landscape) {
  .header {
    height: 40px;
  }
}

.header__h1 {
  font-size: 40px;
}

@media (max-width: 460px) {
  .header__h1 {
    font-size: 25px;
  }
}

@media (max-width: 360px) {
  .header__h1 {
    font-size: 18px;
  }
}

@media (max-width: 860px) and (orientation: landscape) {
  .header__h1 {
    font-size: 30px;
  }
}

.header__icon {
  font-size: 50px;
  margin-left: 10px;
}

@media (max-width: 460px) {
  .header__icon {
    font-size: 40px;
  }
}

@media (max-width: 360px) {
  .header__icon {
    font-size: 25px;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .header__icon {
    font-size: 38px;
  }
}

.main {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 460px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 860px) and (orientation: landscape) {
  .main {
    height: 40vh;
  }
}

.main__player {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__live {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  text-align: center;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .main__live {
    font-size: 25px;
  }
}

@media (max-width: 360px) {
  .main__live {
    font-size: 15px;
  }
}

@media (max-width: 1400px) and (orientation: landscape) {
  .main__live {
    font-size: 30px;
  }
}

@media (max-width: 860px) and (orientation: landscape) {
  .main__live {
    font-size: 20px;
  }
}

.main__ai {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__ai-chooice-image {
  border-radius: 50%;
  border: 2px solid #042a2b;
  width: 30vh;
  height: 30vh;
}

@media (max-width: 1024px) {
  .main__ai-chooice-image {
    height: 25vh;
    width: 25vh;
  }
}

@media (max-width: 460px) {
  .main__ai-chooice-image {
    height: 17vh;
    width: 17vh;
  }
}

@media (max-width: 1400px) and (orientation: landscape) {
  .main__ai-chooice-image {
    height: 35vh;
    width: 35vh;
  }
}

@media (max-width: 860px) and (orientation: landscape) {
  .main__ai-chooice-image {
    height: 25vh;
    width: 25vh;
  }
}

.main__player-choose {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

@media (max-width: 460px) {
  .main__player-choose {
    -ms-flex-preferred-size: 1%;
        flex-basis: 1%;
  }
}

.main__player-options {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__options {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  border: 2px solid #042a2b;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 1024px) {
  .main__options {
    height: 8vh;
    width: 8vh;
  }
}

@media (max-width: 860px) and (orientation: landscape) {
  .main__options {
    height: 15vh;
    width: 15vh;
  }
}

.main__options--active {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  width: 30vh;
  height: 30vh;
}

@media (max-width: 1024px) {
  .main__options--active {
    height: 25vh;
    width: 25vh;
  }
}

@media (max-width: 460px) {
  .main__options--active {
    height: 15vh;
    width: 15vh;
  }
}

@media (max-width: 1400px) and (orientation: landscape) {
  .main__options--active {
    height: 35vh;
    width: 35vh;
  }
}

@media (max-width: 860px) and (orientation: landscape) {
  .main__options--active {
    height: 25vh;
    width: 25vh;
  }
}

.div-game-place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #5299d3;
  border-radius: 20px;
  margin: 10px 0;
}

.button {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 50px;
  text-align: center;
}

@media (max-width: 1024px) {
  .button {
    height: 60px;
  }
}

@media (max-width: 360px) {
  .button {
    height: 40px;
  }
}

@media (max-width: 1400px) and (orientation: landscape) {
  .button {
    height: 90px;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .button {
    height: 60px;
  }
}

@media (max-width: 860px) and (orientation: landscape) {
  .button {
    height: 40px;
  }
}

@media (max-width: 700px) and (orientation: landscape) {
  .button {
    height: 30px;
  }
}

.button__button {
  height: 45px;
  width: 125px;
  font-size: 20px;
  border-radius: 20px;
  background-color: #bb0a21;
  color: white;
  border-style: none;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 1024px) {
  .button__button {
    height: 60px;
    width: 150px;
    font-size: 23px;
  }
}

@media (max-width: 360px) {
  .button__button {
    height: 40px;
    font-size: 15px;
  }
}

@media (max-width: 1400px) and (orientation: landscape) {
  .button__button {
    height: 90px;
    width: 200px;
    font-size: 35px;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .button__button {
    height: 60px;
    font-size: 30px;
  }
}

@media (max-width: 860px) and (orientation: landscape) {
  .button__button {
    height: 40px;
    width: 175px;
    font-size: 25px;
  }
}

@media (max-width: 700px) and (orientation: landscape) {
  .button__button {
    height: 30px;
    width: 140px;
    font-size: 20px;
  }
}

.results {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 10vh;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .results {
    margin: 20px 0;
    height: 7vh;
  }
}

@media (max-width: 460px) {
  .results {
    height: 8vh;
  }
}

@media (max-width: 860px) and (orientation: landscape) {
  .results {
    height: 10vh;
    margin: 10px auto 5px auto;
  }
}

.result-div {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background-color: #083d77;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .result-div {
    font-size: 22px;
  }
}

@media (max-width: 460px) {
  .result-div {
    font-size: 18px;
  }
}

@media (max-width: 360px) {
  .result-div {
    font-size: 14px;
  }
}

@media (max-width: 1400px) and (orientation: landscape) {
  .result-div {
    font-size: 30px;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .result-div {
    font-size: 20px;
  }
}

@media (max-width: 860px) and (orientation: landscape) {
  .result-div {
    font-size: 15px;
  }
}

.statistics {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistics--p {
  font-size: 20px;
}

@media (max-width: 1024px) {
  .statistics--p {
    font-size: 25px;
  }
}

@media (max-width: 360px) {
  .statistics--p {
    font-size: 18px;
  }
}

@media (max-width: 1400px) and (orientation: landscape) {
  .statistics--p {
    font-size: 30px;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .statistics--p {
    font-size: 20px;
  }
}

@media (max-width: 860px) and (orientation: landscape) {
  .statistics--p {
    font-size: 15px;
  }
}

.statistics__span {
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */